.setPlayers{
  width:50%;
  margin:0 auto;
  margin-top:20px;
}
.name, .score{
  background: #F4F4F0;
  margin: 10px 0 10px 0;
  h3{
    margin-top:10px;
    color:#7b7b7b;
    text-align: center;
  }
}
.name-field, .score-field{
  background: #EFEFEB;
  border-bottom: 1px solid #fff ;
  padding: 5px 20px;
}

